<!-- Passed three parameters to dynamically create the "create" page for any object
Objects must have the DatabaseConnector module included and must have Foreign Keys stored as ForeignKey object, rather than an Integer, etc.

@foreign_key_fields   - An Array of the field names of parameters that are ForeignKeys
@foreign_key_choices  - An Array of Arrays.  The inner Array contains all possible objects for this foreign key.  
 @non_foreign_key_fields - An Array of the field names of non-foreign keys. 
-->

<div id="primary">
  
  <h3>Enter the variables of the product.</h3>
  <br>
  
  <% @m.errors.each do |error| %>
   <p><%= error[:message] %></p>
   <% end %>
  <form action="/product/submit">
    <input type= "hidden" name = create_form[id] value = "<%= @m.id %>">
  
    <!-- Show all non-foreign keys in an input field -->
    <% @m.non_foreign_key_fields.each do |field| %>
      <p>Enter the <%= field %></p><input type="text" name= create_form[<%= field %>] default="<%= field %>" value="<%= @m.send(field) %>">
    <%end %>
    
   
    <input type = "submit" value = "Submit <%= "product".humanize.downcase %>" class ="submit_button">

  </form>
</div>