<!-- Dynamically creates menu from @menu object >
<! Menu items are their own links >
<! Menu items have a parameter called method that contains the method_name that should be called next.  This is what is used as the urls. -->

<div id = "primary">
  <div class="message"><p><%= @message %></p></div>
  
  <h3 class="first-color"><%=@menu.title%></h3>

  
    
    <% @menu.menu_items.each do |item| %>
      <% if @with_links %>
        <a href="/<%= item.method.method_name %>"><p><%= item.user_message.join(", ") %></p></a>
      <% else %>
        <p><%= item.user_message.join(", ") %></p>
      <% end %>
    <% end %>

</div>